--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
streamlit==1.54.0
crewai==1.9.3
crewai-tools==1.9.3
langchain==1.2.10
langchain-community==0.4.1
faiss-cpu==1.13.2
sentence-transformers==5.2.3
ollama==0.6.1
pandas
numpy
python-dotenv
plotly
pypdf
pdf2image
langchain-text-splitters
litellm==1.74.15.post2
scikit-learn
joblib
opencv-python-headless
altair