streamlit
crewai
crewai-tools
langchain
langchain-community
faiss-cpu
sentence-transformers
ollama
pandas
numpy
python-dotenv
plotly
pypdf
pdf2image
langchain-text-splitters
litellm
scikit-learn
joblib
opencv-python
altair